<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko.lw005">

    <application
        android:name="com.moko.lw005.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/lw005_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LaunchActivityTheme">
        <activity
            android:name="com.moko.lw005.activity.GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.lw005.activity.LoRaLW005MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.DeviceInfoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.LoRaConnSettingActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.LoRaAppSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.SystemInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.SwitchControlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.ElectricitySettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.EnergySettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.ProtectionSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.OverLoadProtectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.SagVoltageProtectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.OverVoltageProtectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.OverCurrentProtectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.LoadStatusNotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.CountdownSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.LEDSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.PowerIndicatorColorActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.lw005.activity.LogDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.lw005.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.moko.lw005.service.DfuService" />
    </application>
</manifest>
